/* .post-container {
  border: 1px solid #93fe0f;
  padding: 20px;
  margin: 10px 0;
  background-color: #161212;
}

.post-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post-container p {
  margin: 10px 0;
}

.post-buttons button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}


.edit-button {
  background-color: #28aa28;
  color: #171414;
}

.delete-button {
  background-color: #28aa28;
  color: #100606;
}

.add-post-button {
  background-color: #4caf50;
  color: #120505;
}

.editing-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  background-color: #f5f5f5;
}

.editing-container input,
.editing-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editing-container button {
  background-color: #16a226;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
} */

.all-posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.post-container {
  border: 1px solid #7bee15e7;
  padding: 10px;
  margin: 10px 0;
  width: 70%;
  transition: background-color 0.2s;
  background-color: #0f0c0cae;
}

.post-container:hover {
  background-color: #8b20e89e;
}

.post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: #21d121cc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #a31eeb9b;
}

.add-post-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-post-button:hover {
  background-color: #218838;
}


/* AllPosts.css
